.WeatherItem {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.WeatherItem .weather_img {
  width: 50%;
  margin-bottom: 10px;
}

.WeatherItem_selected {
  background-color: #fffae5;
  color: #b9314f;
  font-weight: bold;
}